/*this will be CSS at some point*/


h1 {
  font-family: 'Playfair Display', serif;
  position: center;
  font-size: 45px;
  color: #eabda9;
  background-image: url("http://imgur.com/a/YkcWS");
  background-repeat: no-repeat;
  padding: 200px;
  display: inline-block;
}

a {
  font-family: 'Playfair Display', serif;
  position: relative;
  color: #a47709;
  font-size: 20px;
  padding: 100px;
}

body {
  background-color: #f6f5e6;
  margin: 20px auto;
  max-width: 600px;
}
